<form class="formfont" method="POST" action="/contact_us">
<div class="contact-width">
	<p class="subtitle fix-wkba-margins">Contact Us!</p>

	<div class="row top-margin">
	<p class="sitefont fix-wkba-margins">I am an</p>
		<span class="col-half lfloat">
			<input type="radio" id="existing" name="radio" value="existing">
			<label for="existing"><span></span>Existing</label><br><br>
			<input type="radio" id="provider" name="radio2" value="provider" checked="checked">
			<label for="provider"><span></span>Provider</label>
		</span>

		<span class="col-half lfloat">
			<input type="radio" id="potential" name="radio" value="potential" checked="checked">
			<label for="potential"><span></span>Potential</label><br><br>
			<input type="radio" id="subscriber" name="radio2" value="subscriber">
			<label for="subscriber"><span></span>Subscriber</label>
		</span>
	</div>
	
	<div class="row top-margin">
		<p class="fix-wkba-margins">
		Email/Other Contact Info<br>
		<input type="checkbox" id="c1" name="cc">
		<label for="c1"><span></span></label>
		<input class="formfont email-width" type="text" id="emailfield" name="email" disabled>
		</p>
	</div>

	<div class="top-margin">
		<textarea class="formfont" rows="10" cols="30" name="emailContact">   
	</textarea>
	</div>
	<p><input class="btn" type="submit"></p>
</div>
</form>