<!DOCTYPE html>
<html>
	<head>
		<title>
			<%= @title_name %>
		</title>
		<link rel="stylesheet" type="text/css" href="./css/style.css">
	</head>
	<body>
		<img class="fullBG" src="/images/bkgndC.jpg">
		<img src="/images/logo.png" width="100px">
		<%= yield %>
	</body>
</html>