

<div class="dialog" id="myLoginWrapper1">
    <form id="signinForm1" method="POST" action="/provider_login">
      <label id="usernameL1">Username</label>
      <input type="text" id="username1">
      <label id="passwordL">Password</label>
      <input type="text" id="password2">
      <div align="center">
        <input type="submit" value="Ok" id="btnOK1">
        <input type="button" value="Cancel" id="btnCancel1">
      </div>
    </form>
</div>

<div class="dialog" id="myLoginWrapper2">
    <form id="signinForm2" method="POST" action="/subscriber_login">
      <label id="usernameL2">Username</label>
      <input type="text" id="username2">
      <label id="passwordL">Password</label>
      <input type="text" id="password2">
      <div align="center">
        <input type="submit" value="Ok" id="btnOK2">
        <input type="button" value="Cancel" id="btnCancel2">
      </div>
    </form>
</div>

