<div class="dialog" id="myLoginWrapper">
    <form class="sitefont" id="signinForm" method="POST" action="/">
      <div class="row" align="center">
        <label id="usernameL">Username</label>
        <input class="sitefont" type="text">
        <label id="passwordL">Password</label>
        <input class="sitefont" type="text">
      </div>
      <div class="row top-margin" align="center">
        <input class="btn" type="submit" value="Ok">
        <a class="btn" id="btnCancel" href="#" type="button">Cancel</a>
      </div>
    </form>
</div>
