<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/">Partners</a></li>
		<li><a href="/">Log In</a>
			<ul class="dropdown">
				<li id="provide"><a href="#">Content Providers</li></a>
				<li id="subscribe"><a href="#">Subscribers</li></a>
			</ul>
		</li>
		<li><a href="/contact">Get In Touch</a></li>
	</ul>
</nav>
