<h1>Some of Our Partners</h1>

<div>
	<img src="/images/ThinWAV_feed01.jpg" width="300px">
	<img src="/images/ThinWAV_feed03.jpg" width="300px">
	<img src="/images/ThinWAV_feed02.jpg" width="300px">
	<div class="andu">
		<span class="sitefont">I can't figure out how to make this div be inline with the image directly to its left without the offset.</span>
	</div>
</div>
<div>
	<img src="/images/ThinWAV_sub02_PF.jpg" width="300px">
	<img src="/images/ThinWAV_sub03_GG.jpg" width="300px">
	<img src="/images/ThinWAV_sub01_LA.jpg" width="300px">
	<div class="andu">
		<span class="sitefont">I can't figure out how to make this div be inline with the image directly to its left without the offset.</span>
	</div>
</div>