/*
 *  styling for the site theme
 */

/*
 *  background image
 */
.fullBG { 

}

/*
 *  style elements for the contactus page
 */
 /*form {
 	display: block;
 }
 input{
	display: block;
 }
 textarea {
 	display: block;
 }*/