/*
 *  styling for the site theme
 */

/*
 *  background image
 */
.fullBG { 
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}
h1 {
  font-family: arial;
  font-weight: bold;
  font-size: 32pt;
  -webkit-margin-after: 0;
}
/*
 *  Styling for the nav menu
 */
ul {
    font-family: arial;
    font-size: 20pt;
    padding: 0;
    margin-bottom: 11px;
}

ul li {
	position: relative;
    display: inline;
    margin-right: 3px;
}

ul li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    /*color: #696969;*/
    color: black;
    border-radius: 4px 4px 0 0;
}

ul li a:hover {
    color: white;
    /*background-color: black;*/
    background-color: aqua;
}
ul li ul.dropdown{
    min-width: 300px; /* Set width of the dropdown */
    line-height: 51px;
    display: none;
    position: absolute;
    top: 40px;
    z-index: 999;
    left: 0;
}
ul li:hover ul.dropdown{
    display: block;	/* Display the dropdown */
}
ul li ul.dropdown li{
    display: block;
}
.sitefont {
  font-family: arial;
  font-size: 20pt;
}
.top-margin {
  margin-top: 30px;
}
.cfloat {
  clear:both;
}
.row:before, 
    .row:after {
        content:"";
        display: table ;
         clear:both;
    }
/* 
 *  Styling for the front page
 */
 #fpbox {
  width: 1000px;
  padding-left: 50px;
 }
.rfloat {
  float: right;
}
.fp-rwidth{
  width: 400px;
}
.lfloat {
  float: left;
}
.fp-lwidth {
  width: 450px;
}
/* 
 *  Styling for the partner page
 */
.pp-rwidth{
  width: 590px;
}
.pp-lwidth {
  width: 400px;
}
.andu {
  width: 300px;
  text-align: center;
  height: 168px;
  line-height: 168px;
  display: inline-block;
  margin: auto;
  border: solid 1px black;
}
.andu span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}
/* 
 *  Styling for the login dialog
 */
.button{
  border:1px solid #333;
  background:#6479fd;
}
.button:hover{
  background:#a4a9fd;
}
.dialog{
  border:5px solid #666;
  padding:10px;
  background:#3A3A3A;
  position:absolute;
  display:none;
}
.dialog label{
  display:inline-block;
  color:#cecece;
}
input[type=text]{
  border:1px solid #333;
  display:inline-block;
  margin:5px;
}
#btnOK{
  border:1px solid #000;
  background:#ff9999;
  margin:5px;
}
#btnOK:hover{
  border:1px solid #000;
  background:#ffacac;
}
/*
 *  style elements for the contactus page
 */
 /*form {
 	display: block;
 }
 input{
	display: block;
 }
 textarea {
 	display: block;
 }