/*
 *  styling for the site theme
 */

/*
 *  background image
 */
.fullBG { 
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}
.fix-wkba-margins {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.title {
  font-family: arial;
  font-size: 32pt;
}
.subtitle {
  font-family: arial;
  font-size: 24pt;
}
.bold {
  font-weight: bold;
}
h1 {
  font-family: arial;
  font-weight: bold;
  font-size: 32pt;
  -webkit-margin-after: 0;
}
/*
 *  Styling for the nav menu
 */
.nav {
    font-family: arial;
    font-size: 20pt;
    padding: 0;
    margin-bottom: 11px;
}

.nav li {
	position: relative;
    display: inline;
    margin-right: 3px;
}

.nav li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    /*color: #696969;*/
    color: black;
    border-radius: 4px 4px 0 0;
}

.nav li a:hover {
    color: white;
    /*background-color: black;*/
    background-color: aqua;
}

.nav li ul.dropdown{
    min-width: 300px; /* Set width of the dropdown */
    line-height: 51px;
    display: none;
    position: absolute;
    top: 40px;
    z-index: 999;
    left: -40px;
}

.nav li:hover ul.dropdown{
    display: block;	/* Display the dropdown */
}

.nav li ul.dropdown li{
    display: block;
}

.sitefont {
  font-family: arial;
  font-size: 20pt;
}

.formfont {
  font-family: arial;
  font-size: 14pt;
}

.top-margin {
  margin-top: 16px;
}
.contact-width {
  width: 300px;
}
.email-width {
  width: 259px;  
}
.col-half {
  width:50%;
}
.row:before, 
    .row:after {
        content:"";
        display: table ;
         clear:both;
    }

.boxed {
  border: solid 5px black;
}
/* 
 *  Styling for the front page
 */
 #fpbox {
  width: 1000px;
  padding-left: 50px;
 }
.rfloat {
  float: right;
}
.fp-rwidth{
  width: 400px;
}
.lfloat {
  float: left;
}
.fp-lwidth {
  width: 450px;
}
/* 
 *  Styling for the partner page
 */
.pp-rwidth{
  width: 590px;
}
.pp-lwidth {
  width: 400px;
}
.andu {
  width: 300px;
  text-align: center;
  height: 168px;
  line-height: 168px;
  display: inline-block;
  margin: auto;
  border: solid 1px black;
}
.andu span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}
/* 
 *  Styling for the login dialog
 */
/*.button{
  border:1px solid #333;
  background:#6479fd;
}
.button:hover{
  background:#a4a9fd;
}*/
.dialog{
  border:5px solid #666;
  padding:10px;
  background:#3A3A3A;
  position:absolute;
  display:none;
}
.dialog label{
  display:inline-block;
  /*color:#cecece;*/
  color: white;
}
/*input[type=text]{
  border:1px solid #333;
  display:inline-block;
  margin:5px;
}*/
/*#btnOK{
  border:1px solid #000;
  background:#ff9999;
  margin:5px;
}
#btnOK:hover{
  border:1px solid #000;
  background:#ffacac;
}*/
/*
 *  style elements for the contactus page
 */
.btn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: white;
  font-size: 20px;
  background: aqua;
  padding: 10px 20px 10px 20px;
  border: solid black 2px;
  text-decoration: none;
}
.btn:hover {
  color: black;
  background: white;
  text-decoration: none;
}
/* 
 *  Custom checkbox and radio button styling for the login dialog
 */
input[type="checkbox"] {
    display:none;
}
/*input[type="checkbox"] + label span {*/
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url("/images/check_radio_sheet.png") left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url("/images/check_radio_sheet.png") -19px top no-repeat;
}
input[type="radio"] {
    display:none;
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url("/images/check_radio_sheet.png") -38px top no-repeat;
    cursor:pointer;
}
input[type="radio"]:checked + label span {
    background:url("/images/check_radio_sheet.png") -57px top no-repeat;
}
/*
 *  image mouse over pulldown animation
 */

.imganim {
    position:relative;
    width:300px;
    height:200px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:rgba(26,76,110,0.5)
}
.imganim p,.imganim h2 {
    color:#fff;
    padding:10px;
    left:-20px;
    top:20px;
    position:relative
}
.imganim p {
    /*font-family:'Lato';*/
    font-family:'arial';
    font-size:12px;
    line-height:18px;
    margin:0
}
.imganim h2 {
    font-size:20px;
    line-height:24px;
    margin:0;
    font-family:'Lato'
}
.imganim li {
  list-style-type: none;*/
}
.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}
.effect img.top:hover {
    bottom:-96px;
    padding-top:100px
}
h2.zero,p.zero {
    margin:0;
    padding:0
}
/*
 *  image gallery
 */
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}